### 230723 하은서 필수과제1

- 영화리뷰데이터 네이버 한국어 데이터
- 한국어 리뷰를 전처리 진행하고 -> countverctorizer을 사용해서 전처리를 진행해 주세요.
- 문자열 자체 전처를 통해서 행렬 만들어줘야 한다.
- 이걸 가지고 학습을 할 수 있는 것이고- >실제 x축과 y축에 어떤 것이 들어가서 카운팅이 되는지를 정확히 이해해야 한다.

- 기본 cv값과
- 본인이 전처리한 cv값과
- 빈도기반 cv값을 

- 3가지로 나눠서 카운팅 비교 분석을 진행해 주세요!

In [1]:
import nltk
import pandas as pd

In [2]:
df = pd.read_csv('movie_rv.csv')
df

,Unnamed: 0,id,document,label
0,0,9976970,아 더빙.. 진짜 짜증나네요 목소리,0
1,1,3819312,흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나,1
2,2,10265843,너무재밓었다그래서보는것을추천한다,0
3,3,9045019,교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정,0
4,4,6483659,사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...,1
...,...,...,...,...
149995,149995,6222902,인간이 문제지.. 소는 뭔죄인가..,0
149996,149996,8549745,평점이 너무 낮아서...,1
149997,149997,9311800,이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?,0
149998,149998,2376369,청춘 영화의 최고봉.방황과 우울했던 날들의 자화상,1
149999,149999,9619869,한국 영화 최초로 수간하는 내용이 담긴 영화,0

In [3]:
df = df[['id','document','label']]
df

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[150000 rows x 3 columns]

In [4]:
df.isna().sum()

id          0
document    5
label       0
dtype: int64

In [5]:
df = df.dropna()
df

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
...          ...                                                ...    ...
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149996   8549745                                      평점이 너무 낮아서...      1
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[149995 rows x 3 columns]

In [6]:
df.isna().sum()

id          0
document    0
label       0
dtype: int64

In [7]:
df['document'] = df['document'].str.replace('[A-Za-z]',"")

C:\Users\HAEUNSEO\AppData\Local\Temp\ipykernel_14168\763378458.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['document'] = df['document'].str.replace('[A-Za-z]',"")
C:\Users\HAEUNSEO\AppData\Local\Temp\ipykernel_14168\763378458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['document'] = df['document'].str.replace('[A-Za-z]',"")

In [8]:
df['document'] = df['document'].str.replace('[^\w\s]'," ")

C:\Users\HAEUNSEO\AppData\Local\Temp\ipykernel_14168\2802863061.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['document'] = df['document'].str.replace('[^\w\s]'," ")
C:\Users\HAEUNSEO\AppData\Local\Temp\ipykernel_14168\2802863061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['document'] = df['document'].str.replace('[^\w\s]'," ")

In [9]:
df['length'] = df['document'].str.len()
df

C:\Users\HAEUNSEO\AppData\Local\Temp\ipykernel_14168\795865301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['length'] = df['document'].str.len()

,id,document,label,length
0,9976970,아 더빙 진짜 짜증나네요 목소리,0,19
1,3819312,흠 포스터보고 초딩영화줄 오버연기조차 가볍지 않구나,1,33
2,10265843,너무재밓었다그래서보는것을추천한다,0,17
3,9045019,교도소 이야기구먼 솔직히 재미는 없다 평점 조정,0,29
4,6483659,사이몬페그의 익살스런 연기가 돋보였던 영화 스파이더맨에서 늙어보이기만 했던 커스틴 ...,1,61
...,...,...,...,...
149995,6222902,인간이 문제지 소는 뭔죄인가,0,19
149996,8549745,평점이 너무 낮아서,1,13
149997,9311800,이게 뭐요 한국인은 거들먹거리고 필리핀 혼혈은 착하다,0,31
149998,2376369,청춘 영화의 최고봉 방황과 우울했던 날들의 자화상,1,27
149999,9619869,한국 영화 최초로 수간하는 내용이 담긴 영화,0,24

In [10]:
pip install konlpy

Requirement already satisfied: konlpy in c:\users\haeunseo\anaconda3\lib\site-packages (0.6.0)
Requirement already satisfied: lxml>=4.1.0 in c:\users\haeunseo\anaconda3\lib\site-packages (from konlpy) (4.9.1)
Requirement already satisfied: JPype1>=0.7.0 in c:\users\haeunseo\anaconda3\lib\site-packages (from konlpy) (1.4.1)
Requirement already satisfied: numpy>=1.6 in c:\users\haeunseo\anaconda3\lib\site-packages (from konlpy) (1.23.5)
Requirement already satisfied: packaging in c:\users\haeunseo\appdata\roaming\python\python310\site-packages (from JPype1>=0.7.0->konlpy) (23.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from konlpy.tag import Okt
from konlpy.tag import Twitter

twt = Twitter()

c:\users\haeunseo\anaconda3\lib\site-packages\konlpy\tag\_okt.py:17: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

In [ ]:
stop_words = ['걸','것','게','시','이']
all_words =[]
parts= ['Noun']
satisfaction=[]

for i in range(len(df)):
    text = df['document'].iloc[i]
    words = twt.pos(text)
    words_arr =[]
    for n in words:
        if n =='EOS' or n =='':continue
        words_tmp=n[0]
        part = n[1]
        if not (part in parts):continue
        if words_tmp in stop_words:continue
        words_arr.append(words_tmp)
        satisfaction.append(df['label'].iloc[i])
    all_words.extend(words_arr)
print(all_words)

all_words_df_f = pd.DataFrame({'words':all_words, 'satisfaction':satisfaction,
                              'count':len(all_words)*[1]})

In [ ]:
all_words_df_f

In [ ]:
word_count = all_words_df_f.groupby('words').sum()

In [ ]:
word_count.sort_values(by='count',ascending=False)

In [ ]:
pip install scikit-learn

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
cv = CountVectorizer() #기본값

# 기존에 만들었던 word 특성을 집어넣어서 지정할 수 있다. word_features
cv1 =CountVectorizer(vocabulary =word_count )

# 특성을 넣지 않는 경우 빈도 기반으로해서 추출해줘
cv2 = CountVectorizer(max_features=500)

In [ ]:
rv_cv =cv.fit_transform(df['document'])
rv_cv1= cv1.fit_transform(df)
rv_cv2= cv2.fit_transform(df)

In [ ]:
rv_cv

In [ ]:
rv_cv1

In [ ]:
rv_cv2

In [ ]:
print(cv.get_feature_names_out()[:20])
print(cv1.get_feature_names_out()[:20])
print(cv2.get_feature_names_out()[:20])

In [ ]:
print(rv_cv.shape)

In [ ]:
rv_cv[0, :30]

In [ ]:
print(rv_cv1[0, :30])