### 230716 하은서 필수과제1

다양한 str 문법들 찾아서 개념 정리 및 코드로 구현하기
- str.split()
- str.get()
- str.startswidth()
- str.endswith()
- str.contains()
- str.replace()
- str.extract()
- str.pad()
- str.strip() 
- str.lower, upper 등 다 가능
- str.match 정규표현식에서 한 것 # 일치여부 확인

####  `str.split() `
- whitespace를 기준으로 문자열을 나눔
- maxsplit을 설정하면 최대 나눌 횟수를 지정

In [59]:
text = 'Hello world, python,2023'
strings = text.split()
print(strings)

['Hello', 'world,', 'python,2023']

In [60]:
text = 'Hello world, python,2023'
strings = text.split(',')   # ','을 기준으로 문자열을 나눔
print(strings)

['Hello world', ' python', '2023']

In [61]:
text = 'Hello world, python,2023'
strings = text.split(',',1)   # 최대 1번만 문자열을 나눔
print(strings)

['Hello world', ' python,2023']

In [62]:
import pandas as pd

df = pd.DataFrame({'주소':['서울특별시 광진구','서울특별시 노원구','서울특별시 서초구','경기도 고양시','경기도 양주시']})
df

          주소
0  서울특별시 광진구
1  서울특별시 노원구
2  서울특별시 서초구
3    경기도 고양시
4    경기도 양주시

####  `str.get() `
- 문자를 가져오는 함수

In [73]:
df['주소'] = df['주소'].str.replace(' ','_')
v_split = df['주소'].str.split('_')
v_split

0    [서울특별시, 광진구]
1    [서울특별시, 노원구]
2    [서울특별시, 서초구]
3      [경기도, 고양시]
4      [경기도, 양주시]
Name: 주소, dtype: object

In [74]:
v_split.str.get(0)   #리스트의 첫번째(0) 데이터만 가져옴

0    서울특별시
1    서울특별시
2    서울특별시
3      경기도
4      경기도
Name: 주소, dtype: object

In [75]:
v_split.str.get(1)

0    광진구
1    노원구
2    서초구
3    고양시
4    양주시
Name: 주소, dtype: object

####  `str.startswith() `
- 특정 boolean을 반환
- 특정 글자로 시작하면 true 아니면 false

In [16]:
df['주소'].str.startswith("서울")   #서울로 시작하는 데이터만 반환 -> True

0     True
1     True
2     True
3    False
4    False
Name: 주소, dtype: bool

In [17]:
df['주소'].str.startswith("경기")

0    False
1    False
2    False
3     True
4     True
Name: 주소, dtype: bool

####  `str.endswith() `
- 특정 글자로 끝나면 true 아니면 false

In [19]:
df['주소'].str.endswith('구')   # '구'로 끝나는 데이터 반환

0     True
1     True
2     True
3    False
4    False
Name: 주소, dtype: bool

####  `str.contains() `
- 특정 boolean을 반환
- 특정 글자가 포함되면 true 아니면 false

In [23]:
df['주소'].str.contains("양")   # 고'양'시와 '양'주시에 모두 '양'이 들어가므로 true

0    False
1    False
2    False
3     True
4     True
Name: 주소, dtype: bool

####  `str.replace() `
- 문자 대체하는 함수

In [27]:
df['주소'].str.replace(" ","/")     # 공백 '/'로 대체

0    서울특별시/광진구
1    서울특별시/노원구
2    서울특별시/서초구
3      경기도/고양시
4      경기도/양주시
Name: 주소, dtype: object

####  `str.extract() `
- 원하는 문자열 추출 시 사용되는 함수
- 그룹을 지정해서 패턴 입력 --> ( )
- 패턴에 맞는 단어가 없을 시 null 출력

In [31]:
# \w [a-zA-Z0-9_] 영문, 대소문자, 숫자, 밑줄 문자
df['주소'].str.extract('(\w*구)')   # 구로 끝나는 패턴 데이터만 추출

     0
0  광진구
1  노원구
2  서초구
3  NaN
4  NaN

In [36]:
df['주소'].str.extract('(\w*도)|(\w*시)')

     0      1
0  NaN  서울특별시
1  NaN  서울특별시
2  NaN  서울특별시
3  경기도    NaN
4  경기도    NaN

####  `str.pad() `
- 문자열의 길이가 고정되어 부족할 경우 채워줌

In [39]:
# 문자열 길이 15, 왼쪽에서부터 '_'로 채우기
df['주소'].str.pad(width=15, side='left', fillchar='_')

0    ______서울특별시 광진구
1    ______서울특별시 노원구
2    ______서울특별시 서초구
3    ________경기도 고양시
4    ________경기도 양주시
Name: 주소, dtype: object

In [41]:
# 문자열 길이 15, 오른쪽에서부터 '_'로 채우기
df['주소'].str.pad(width=15, side='right', fillchar='_')

0    서울특별시 광진구______
1    서울특별시 노원구______
2    서울특별시 서초구______
3    경기도 고양시________
4    경기도 양주시________
Name: 주소, dtype: object

####  `str.strip() `
- 공백 제거하는 함수

In [50]:
df2 = pd.DataFrame({'col1':['1234','    hihi        ','                   by22'],
                    'col2':['   abcd  ',' 98765 ','left   ']})
df2

                      col1       col2
0                     1234     abcd
1             hihi             98765
2                     by22    left

In [51]:
a = df2['col1'].str.strip() # 앞 뒤 공백제거
a.iloc[1]

'hihi'

In [52]:
b = df2['col2'].str.strip() # 뒤 공백제거
b.iloc[2]

'left'

In [53]:
c = df2['col1'].str.strip() # 앞 공백제거
c.iloc[2]

'by22'

####  `str.lower(), str.upper() `
- 대소문자 변경

In [57]:
df2['col1'] = df2['col1'].str.upper() # 대문자로 변경
df2['col1']

0                       1234
1               HIHI
2                       BY22
Name: col1, dtype: object

In [58]:
df2['col1'] = df2['col1'].str.lower() # 소문자로 변경
df2['col1']

0                       1234
1               hihi
2                       by22
Name: col1, dtype: object

####  `str.match() `
- 일치여부 확인하는 함수

In [76]:
# 정규표현식 패키지
import re

In [78]:
# match( '패턴' , '문자열' )
re.match('Hello', 'Hello world, python,2023')