### 230326 하은서 필수과제2

In [1]:
import pandas as pd
import numpy as np

### 2019~2021년 기온에 따라 제주도를 방문하는 방문객이 연관이 있을까?
##### 가설) 제주도를 겨울보다는 여름에 더 많이 방문할 것이다

In [18]:
# 2019 ~ 2021년 제주시 데이터를 불러옴

df_2019 = pd.read_csv('2019jeju.csv',encoding='euc-kr')
df_2020 = pd.read_csv('2020jeju.csv',encoding='euc-kr')
df_2021 = pd.read_csv('2021jeju.csv',encoding='euc-kr')


print(df_2019)
print(df_2020)
print(df_2021)

     지점 지점명       일시  평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)
0   184  제주  2019-01       6.4         64                24.2        3.3
1   184  제주  2019-02       7.4         63                37.9        3.0
2   184  제주  2019-03      10.8         63                55.5        3.5
3   184  제주  2019-04      14.7         68                46.4        3.0
4   184  제주  2019-05      20.0         56                42.8        3.0
5   184  제주  2019-06      21.5         80               145.8        2.6
6   184  제주  2019-07      25.2         85               510.1        2.6
7   184  제주  2019-08      27.7         77               242.3        2.8
8   184  제주  2019-09      24.0         84               610.6        2.9
9   184  제주  2019-10      19.7         69               188.6        2.9
10  184  제주  2019-11      14.6         65                27.5        3.0
11  184  제주  2019-12       9.7         64                48.2        3.3
     지점 지점명       일시  평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)
0   184  제주  2020-01       8.9         66               116.7        3.5
1   184  제주  2020-02       9.1         66                29.8        3.3
2   184  제주  2020-03      11.5         63                81.6        3.2
3   184  제주  2020-04      13.2         56                82.3        3.3
4   184  제주  2020-05      18.8         74                20.6        2.9
5   184  제주  2020-06      22.4         83               221.5        2.7
6   184  제주  2020-07      24.2         85               184.7        2.9
7   184  제주  2020-08      29.4         74               140.4        2.9
8   184  제주  2020-09      22.9         76               400.5        3.0
9   184  제주  2020-10      18.4         61                53.7        2.9
10  184  제주  2020-11      14.1         65                28.2        2.9
11  184  제주  2020-12       7.7         61                29.5        3.4
     지점 지점명       일시  평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)
0   184  제주  2021-01       6.8         65               116.6        3.9
1   184  제주  2021-02       9.4         62                52.8        3.9
2   184  제주  2021-03      12.5         68                81.1        3.1
3   184  제주  2021-04      15.4         63                58.8        3.2
4   184  제주  2021-05      19.0         68               100.7        3.0
5   184  제주  2021-06      23.4         75               122.4        2.4
6   184  제주  2021-07      27.8         78               247.1        3.1
7   184  제주  2021-08      27.3         79               227.8        2.5
8   184  제주  2021-09      24.9         84               493.1        3.4
9   184  제주  2021-10      20.1         73                32.1        2.9
10  184  제주  2021-11      14.0         66                63.8        3.7
11  184  제주  2021-12       8.9         67                31.4        4.2

In [20]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   지점                  12 non-null     int64
 1   지점명                 12 non-null     object
 2   일시                  12 non-null     object
 3   평균기온(°C)            12 non-null     float64
 4   평균상대습도(%)           12 non-null     int64
 5   월합강수량(00~24h만)(mm)  12 non-null     float64
 6   평균풍속(m/s)           12 non-null     float64
dtypes: float64(3), int64(2), object(2)
memory usage: 800.0+ bytes

In [51]:
# 필요한 칼럼만 가져오기( 2019~ 2021 )
df_2019= df_2019[['일시','평균기온(°C)','평균상대습도(%)','월합강수량(00~24h만)(mm)','평균풍속(m/s)']]
df_2020= df_2020[['일시','평균기온(°C)','평균상대습도(%)','월합강수량(00~24h만)(mm)','평균풍속(m/s)']]
df_2021= df_2021[['일시','평균기온(°C)','평균상대습도(%)','월합강수량(00~24h만)(mm)','평균풍속(m/s)']]

In [77]:
# 2019년
vr_2019=df_2019.일시.str.split('-')
vr_2019

0     [2019, 01]
1     [2019, 02]
2     [2019, 03]
3     [2019, 04]
4     [2019, 05]
5     [2019, 06]
6     [2019, 07]
7     [2019, 08]
8     [2019, 09]
9     [2019, 10]
10    [2019, 11]
11    [2019, 12]
Name: 일시, dtype: object

In [78]:
year = vr_2019.str.get(0)
month = vr_2019.str.get(1)

In [79]:
df_2019['year']= year
df_2019['month'] = month

df_2019

         일시  평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)  year month
0   2019-01       6.4         64                24.2        3.3  2019    01
1   2019-02       7.4         63                37.9        3.0  2019    02
2   2019-03      10.8         63                55.5        3.5  2019    03
3   2019-04      14.7         68                46.4        3.0  2019    04
4   2019-05      20.0         56                42.8        3.0  2019    05
5   2019-06      21.5         80               145.8        2.6  2019    06
6   2019-07      25.2         85               510.1        2.6  2019    07
7   2019-08      27.7         77               242.3        2.8  2019    08
8   2019-09      24.0         84               610.6        2.9  2019    09
9   2019-10      19.7         69               188.6        2.9  2019    10
10  2019-11      14.6         65                27.5        3.0  2019    11
11  2019-12       9.7         64                48.2        3.3  2019    12

In [62]:
# 2020년
vr_2020=df_2020.일시.str.split('-')

year = vr_2020.str.get(0)
month = vr_2020.str.get(1)

df_2020['year']= year
df_2020['month'] = month

In [63]:
df_2020

         일시  평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)  year month
0   2020-01       8.9         66               116.7        3.5  2020    01
1   2020-02       9.1         66                29.8        3.3  2020    02
2   2020-03      11.5         63                81.6        3.2  2020    03
3   2020-04      13.2         56                82.3        3.3  2020    04
4   2020-05      18.8         74                20.6        2.9  2020    05
5   2020-06      22.4         83               221.5        2.7  2020    06
6   2020-07      24.2         85               184.7        2.9  2020    07
7   2020-08      29.4         74               140.4        2.9  2020    08
8   2020-09      22.9         76               400.5        3.0  2020    09
9   2020-10      18.4         61                53.7        2.9  2020    10
10  2020-11      14.1         65                28.2        2.9  2020    11
11  2020-12       7.7         61                29.5        3.4  2020    12

In [64]:
# 2021년
vr_2021=df_2021.일시.str.split('-')

year = vr_2021.str.get(0)
month = vr_2021.str.get(1)

df_2021['year']= year
df_2021['month'] = month

In [73]:
df_2021

         일시  평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)  year month
0   2021-01       6.8         65               116.6        3.9  2021    01
1   2021-02       9.4         62                52.8        3.9  2021    02
2   2021-03      12.5         68                81.1        3.1  2021    03
3   2021-04      15.4         63                58.8        3.2  2021    04
4   2021-05      19.0         68               100.7        3.0  2021    05
5   2021-06      23.4         75               122.4        2.4  2021    06
6   2021-07      27.8         78               247.1        3.1  2021    07
7   2021-08      27.3         79               227.8        2.5  2021    08
8   2021-09      24.9         84               493.1        3.4  2021    09
9   2021-10      20.1         73                32.1        2.9  2021    10
10  2021-11      14.0         66                63.8        3.7  2021    11
11  2021-12       8.9         67                31.4        4.2  2021    12

In [80]:
df=pd.concat([df_2019, df_2020, df_2021])
df

         일시  평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)  year month
0   2019-01       6.4         64                24.2        3.3  2019    01
1   2019-02       7.4         63                37.9        3.0  2019    02
2   2019-03      10.8         63                55.5        3.5  2019    03
3   2019-04      14.7         68                46.4        3.0  2019    04
4   2019-05      20.0         56                42.8        3.0  2019    05
5   2019-06      21.5         80               145.8        2.6  2019    06
6   2019-07      25.2         85               510.1        2.6  2019    07
7   2019-08      27.7         77               242.3        2.8  2019    08
8   2019-09      24.0         84               610.6        2.9  2019    09
9   2019-10      19.7         69               188.6        2.9  2019    10
10  2019-11      14.6         65                27.5        3.0  2019    11
11  2019-12       9.7         64                48.2        3.3  2019    12
0   2020-01       8.9         66               116.7        3.5  2020    01
1   2020-02       9.1         66                29.8        3.3  2020    02
2   2020-03      11.5         63                81.6        3.2  2020    03
3   2020-04      13.2         56                82.3        3.3  2020    04
4   2020-05      18.8         74                20.6        2.9  2020    05
5   2020-06      22.4         83               221.5        2.7  2020    06
6   2020-07      24.2         85               184.7        2.9  2020    07
7   2020-08      29.4         74               140.4        2.9  2020    08
8   2020-09      22.9         76               400.5        3.0  2020    09
9   2020-10      18.4         61                53.7        2.9  2020    10
10  2020-11      14.1         65                28.2        2.9  2020    11
11  2020-12       7.7         61                29.5        3.4  2020    12
0   2021-01       6.8         65               116.6        3.9  2021    01
1   2021-02       9.4         62                52.8        3.9  2021    02
2   2021-03      12.5         68                81.1        3.1  2021    03
3   2021-04      15.4         63                58.8        3.2  2021    04
4   2021-05      19.0         68               100.7        3.0  2021    05
5   2021-06      23.4         75               122.4        2.4  2021    06
6   2021-07      27.8         78               247.1        3.1  2021    07
7   2021-08      27.3         79               227.8        2.5  2021    08
8   2021-09      24.9         84               493.1        3.4  2021    09
9   2021-10      20.1         73                32.1        2.9  2021    10
10  2021-11      14.0         66                63.8        3.7  2021    11
11  2021-12       8.9         67                31.4        4.2  2021    12

In [81]:
df.groupby('month').mean()

C:\Users\HAEUNSEO\AppData\Local\Temp\ipykernel_33476\2305280255.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('month').mean()

        평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)
month
01      7.366667  65.000000           85.833333   3.566667
02      8.633333  63.666667           40.166667   3.400000
03     11.600000  64.666667           72.733333   3.266667
04     14.433333  62.333333           62.500000   3.166667
05     19.266667  66.000000           54.700000   2.966667
06     22.433333  79.333333          163.233333   2.566667
07     25.733333  82.666667          313.966667   2.866667
08     28.133333  76.666667          203.500000   2.733333
09     23.933333  81.333333          501.400000   3.100000
10     19.400000  67.666667           91.466667   2.900000
11     14.233333  65.333333           39.833333   3.200000
12      8.766667  64.000000           36.366667   3.633333

In [82]:
df.groupby('year').mean()

C:\Users\HAEUNSEO\AppData\Local\Temp\ipykernel_33476\3416304893.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('year').mean()

       평균기온(°C)  평균상대습도(%)  월합강수량(00~24h만)(mm)  평균풍속(m/s)
year
2019  16.808333  69.833333          164.991667   2.991667
2020  16.716667  69.166667          115.791667   3.075000
2021  17.458333  70.666667          135.641667   3.275000