In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
seoul = pd.read_csv('seoul_reg_2021.csv')
seoul

         기준연월  시군구코드      시도명  시군구명 5세단위구분  총인구수  남성인구수  여성인구수
0      202007  11110    서울특별시   종로구   0-4세  3315   1678   1637
1      202008  11110    서울특별시   종로구   0-4세  3258   1648   1610
2      202009  11110    서울특별시   종로구   0-4세  3221   1623   1598
3      202010  11110    서울특별시   종로구   0-4세  3171   1596   1575
4      202011  11110    서울특별시   종로구   0-4세  3133   1589   1544
...       ...    ...      ...   ...    ...   ...    ...    ...
62995  202102  50130  제주특별자치도  서귀포시   100+   103     13     90
62996  202103  50130  제주특별자치도  서귀포시   100+    63      4     59
62997  202104  50130  제주특별자치도  서귀포시   100+    66      4     62
62998  202105  50130  제주특별자치도  서귀포시   100+    71      4     67
62999  202106  50130  제주특별자치도  서귀포시   100+    69      4     65

[63000 rows x 8 columns]

In [3]:
seoul.isna().sum()

기준연월      0
시군구코드     0
시도명       0
시군구명      0
5세단위구분    0
총인구수      0
남성인구수     0
여성인구수     0
dtype: int64

In [4]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63000 entries, 0 to 62999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준연월    63000 non-null  int64
 1   시군구코드   63000 non-null  int64
 2   시도명     63000 non-null  object
 3   시군구명    63000 non-null  object
 4   5세단위구분  63000 non-null  object
 5   총인구수    63000 non-null  int64
 6   남성인구수   63000 non-null  int64
 7   여성인구수   63000 non-null  int64
dtypes: int64(5), object(3)
memory usage: 3.8+ MB

In [5]:
male = seoul['남성인구수'].sum()
female = seoul['여성인구수'].sum()


print(male)
print(female)

309881489
311554947

In [23]:
seoul['5세단위구분']

0        0-4세
1        0-4세
2        0-4세
3        0-4세
4        0-4세
         ...
62995    100+
62996    100+
62997    100+
62998    100+
62999    100+
Name: 5세단위구분, Length: 63000, dtype: object