In [3]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [6]:
driver = webdriver.Chrome('c:/playwithdata/chromedriver.exe')
url = 'http://www.melon.com/chart/index.htm'
driver.get(url)

C:\Users\HAEUNSEO\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  """Entry point for launching an IPython kernel.

In [7]:
html = driver.page_source
soup=BeautifulSoup(html, 'html.parser')

In [10]:
song_data=[]
rank=1
songs = soup.select('table > tbody > tr')
for song in songs:
    title = song.select('div.rank01 > span > a')[0].text
    singer = song.select('div.rank02 > a')[0].text
    song_data.append(['Melon',rank,title,singer])
    rank+=1

In [13]:
import pandas as pd
columns = ['서비스','순위','타이틀','가수']
pd_data = pd.DataFrame(song_data,columns=columns)
pd_data.head()

     서비스  순위       타이틀           가수
0  Melon   1     Ditto     NewJeans
1  Melon   2       OMG     NewJeans
2  Melon   3  Hype boy     NewJeans
3  Melon   4   사건의 지평선  윤하 (YOUNHA)
4  Melon   5     Candy    NCT DREAM

In [15]:
pd_data.to_excel('melon.xlsx', index=False)