In [2]:
from selenium import webdriver

In [3]:
driver = webdriver.Chrome('C:\playwithdata\chromedriver_win32/chromedriver.exe')

C:\Users\HAEUNSEO\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  """Entry point for launching an IPython kernel.

In [4]:
url = 'https://www.naver.com/'
driver.get(url)

In [8]:
from bs4 import BeautifulSoup

In [9]:
url = 'https://www.melon.com/chart/index.htm'
driver.get(url)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [11]:
song_data = []
rank =1
songs = soup.select('table > tbody > tr')
for song in songs :
    title = song.select('div.rank01 > span > a')[0].text
    singer = song.select('div.rank02 > a')[0].text
    song_data.append(['Melon',rank, title, singer])
    rank+=1

In [14]:
import pandas as pd
columns = ['서비스','순위','타이틀','가수']
pd_data = pd.DataFrame(song_data, columns=columns)
pd_data.head()

     서비스  순위       타이틀           가수
0  Melon   1     Ditto     NewJeans
1  Melon   2       OMG     NewJeans
2  Melon   3  Hype boy     NewJeans
3  Melon   4   사건의 지평선  윤하 (YOUNHA)
4  Melon   5     Candy    NCT DREAM

In [16]:
pd_data.to_excel('melon.xlsx', index=False)

In [17]:
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   서비스     100 non-null    object
 1   순위      100 non-null    int64
 2   타이틀     100 non-null    object
 3   가수      100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.2+ KB