In [1]:
import pandas as pd

In [2]:
mpg = pd.read_csv('mpg.csv')

In [3]:
#기술 통계 분석
mpg.query('category in ["compact","suv"]') \
    .groupby('category', as_index = False) \
    .agg( n = ('category','count'),
        mean = ('cty','mean'))

  category   n      mean
0  compact  47  20.12766
1      suv  62  13.50000

In [4]:
compact = mpg.query('category == "compact"')['cty']
suv = mpg.query('category == "suv"')['cty']

In [6]:
# t-test
from scipy import stats
stats.ttest_ind(compact, suv, equal_var = True)

Ttest_indResult(statistic=11.917282584324107, pvalue=2.3909550904711282e-21)

In [7]:
# p-value 가 0.05 미만이면 '집단 간 차이가 통계적으로 유의하다'라고 판단
# 위에 값은 2.3909550904711282 앞에 0이 21개 있는값 보다 작다는 의미
# 따라서 p-value가 0.05보다 작으므로 이 분석결과는
# 'compact'와 'suv'간 평균 도시 연비 차이가 통계적으로 유의하다'라는 결론을 내릴 수 있다.

In [8]:
#일반 휘발유와 고급 휘발유의 도시 연비 t검정

In [10]:
#기술 통계 분석
mpg.query('fl in ["r","p"]') \
    .groupby('fl', as_index=False) \
    .agg( n = ('fl','count'),
        mean = ('cty','mean'))

  fl    n       mean
0  p   52  17.365385
1  r  168  16.738095

In [11]:
regular = mpg.query('fl == "r"')['cty']
premium = mpg.query('fl == "p"')['cty']

In [12]:
stats.ttest_ind(regular, premium, equal_var = True)
#위의 결과 p-value가 0.05보다 큰 걸 알 수 있음.
#따라서 일반 휘발유와 고급 휘발유의 연비 차이가 통계적으로 유의하지 않다는 것을 알 수 있다.

Ttest_indResult(statistic=-1.066182514588919, pvalue=0.28752051088667036)